/* 'Kaushan Script' for Headings and 'Slabo 27px' for main text. 
font-family: 'Kaushan Script', cursive;
font-family: 'Slabo 27px', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Slabo+27px&display=swap");
html {
  font-size: 62.5%;
  color: #d1cdcb;
  background-color: #253730;
  font-family: "Slabo 27px", serif;
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
}
.navParent {
  display: flex;
  list-style: none;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.navParent li {
  background-color: #7c8679;
  padding: 1.5rem;
  text-align: center;
  border: solid #5d7061 0.5px;
  width: 5rem;
}
/** for the active page **/
.navParent .contact {
  background-color: #5d7061;
  text-decoration: underline;
}
.navParent li a {
  text-decoration: none;
  color: #d1cdcb;
  font-size: 1.4rem;
}
.hoverText {
  background-image: url("https://images.unsplash.com/photo-1505851725259-f74b54f4ce6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-position: bottom;
  background-size: cover;
  padding: 13rem;
  margin: 0 5rem;
  display: flex;
  flex-flow: column;
  border-radius: 20px;
}
.hoverText h2 {
  font-size: 5rem;
  margin: 1rem auto;
  font-family: "kaushan script", cursive;
  text-shadow: 2px 2px #253730;
}
.mainText {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem;
}
.mainText p {
  width: 33%;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  height: 8rem;
  background-color: #000000;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
footer .contactMe {
  width: 10rem;
  padding: 1.5rem;
  margin: 0 2rem;
  background-color: #7c8679;
  border: none;
  border-radius: 10px;
  transition: ease-in 0.5sec;
}
footer .contactMe a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px #5d7061;
}
footer .contactMe:hover {
  box-shadow: 0px 0px 6px #5d7061;
}
footer div {
  display: flex;
  flex-flow: row nowrap;
}

.fab {
  padding: 2rem;
  font-size: 3rem;
  color: #ffffff;
}
.fab:hover {
  opacity: 0.5;
  cursor: pointer;
  text-shadow: 0px 0px 6px #5d7061;
}
@media only screen and (max-width: 800px) {
  /* tablet */
  header {
    flex-flow: column nowrap;
  }
  h1 {
    font-size: 4rem;
  }
  .navParent {
    margin: 0 auto;
    padding: 0;
  }
  .hoverText {
    margin: 0;
    text-align: center;
    max-width: 100%;
  }
  .mainText {
    flex-flow: column wrap;
    margin: 0.2rem;
  }
  .mainText p {
    width: 75%;
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 500px) {
  /* mobile */
  .navParent {
    flex-flow: column nowrap;
    padding: 0;
    margin: 0.5rem auto;
  }
  .navParent li {
    width: 75vw;
  }
  .hoverText h2 {
    font-size: 2.5rem;
    padding: 0;
    margin: 0.5rem auto;
  }
  .mainText p {
    width: 90%;
    font-size: 1.6rem;
  }
}
@media only speech {
  /*to add additional input for just a printer friendly and text-to-speech page*/
}
